<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>My Projects</h1>
    <a href="https://www.cs.odu.edu/~cpi/old/410/orangf23/index.html" target="_blank" class="link-box">FlixPicks, eliminate streaming indecision.</a>
    <a href="https://github.com/FlixPicks-Orange" target="_blank" class="link-box"> FlixPicks GitHub</a>
    <div class="project-desc"> <p>Project that front-end, back-end, and fullstack development from myself and a team of undergrad students at ODU. <br>
    It works to eliminate streaming indecision from users by provided an aggregated feed of movie content to choose from, ie all platforms <br>
    content in one place. With tools to help the user select what content to view. I was the front-end developer/team lead for this project. </p></div>
    <a href="https://www.youtube.com/watch?v=-S6rbdFJsM4&ab_channel=CodyRabie" target="_blank" class="link-box">Hemorrhagic Smallpox Spread Simulation</a>
    <div class="project-desc"> <p>C++ program that simulates the spread of hemorrhagic smallpox through an interconnected population, based on epstein and co peer reviewed data.  </p></div>
    <a href="https://www.youtube.com/watch?v=dZ6GAw4l4lM&t=2s&ab_channel=CodyRabie" target="_blank" class="link-box">Card Factory</a>
    <div class="project-desc"> <p>C++ program that demonstrates my understadning of structures through seperated creation of cards in a factory, that are then sold to a community.</p></div>
    <a href="https://www.youtube.com/watch?v=icSCXwH2Has&t=759s&ab_channel=CodyRabie" target="_blank" class="link-box">Intergalactic Space Simulation Game </a>
    <div class="project-desc"> <p>C++ program that simulates a crew traveling through space and discovering planets while dealing with fuel, food, and other constraints. </p></div>
    <a href="https://www.youtube.com/watch?v=Bve8s2kpZUs&t=1559s&ab_channel=CodyRabie" target="_blank" class="link-box">Castle Game</a>
    <div class="project-desc"><p>C++ program that uses a list of pointers to simulate a castle with troops who can attack other castles, similiar to the castle simulation.</p></div>
    <a href="https://www.youtube.com/watch?v=gVrzSnGbnL8&t=9s&ab_channel=CodyRabie" target="_blank" class="link-box"> Basic file Encryption/Decryption </a>
    <div class="project-desc"><p>C++ program that encrypts and decrypts the contents of a file based on a provided key from the user.</p></div>

    <a href="{{ url_for('index') }}" class="link-box"> Home</a>
</body>
</html>
